.breadcrumb {
    height: 46px;
    width: 100%;
    background-color: rgb(39, 57, 124);

    .container {
        margin: auto;
        max-width: 1280px;
        padding: 13px 32px;

        &.m {
            padding: 13px 16px;
        }

        color: white;
        display: flex;

        .normal {
            color: white;
            text-decoration: underline;
        }

        .slash {
            margin: 0 12px;
        }

        .selected {
            font-weight: 600;
        }
    }
}