.filter {
    background-color: white;
    padding: 16px;
    width: 350px;
    box-sizing: border-box;
    // border: inset solid 1px rgb(163, 174, 190);
    outline: 1px solid rgb(163, 174, 190);
    // border-width: 1px;
    border-radius: 2px;
    margin-left: 1px;
    margin-right: 32px;

    .text-header {
        margin-top: 32px;
        font-size: 16px;
        letter-spacing: -0.02em;
        font-weight: 600;
    }

    .option-box {
        margin-top: 17px;
    }

    .option-box-secondary {
        margin-top: 9px;
    }

    .radio-select {
        display: block;
        height: 30px;
        line-height: 30px;
    }

    .location-select {
        width: 100%;
    }

    .price-dash {
        font-size: 14px;
        padding-top: 4px;
        margin: 0 7px;
        height: 28px;
    }

    .button {
        margin-top: 8px;
        color: rgb(64, 169, 255);
        border-color: rgb(64, 169, 255);
    }
}