.card {
    height: 234px;
    width: 100%;
    background-color: white;
    margin-bottom: 12px;
    outline: 1px solid rgb(201, 225, 233);
    display: flex;

    .image-container {
        width: 250px;
        height: 234px;

        img {
            margin: 5px;
            width: 240px;
            height: 224px;
            object-fit: cover;
            border-radius: 2px;
        }
    }

}

.content-container {
    flex-grow: 1;
    padding: 16px;

    .title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0 !important;
        height: 33px;
    }

    .tag {
        margin: 0 8px 0 16px;
        padding: 2px 8px 0px;
    }

    .subtitle-container {
        display: block;
        font-size: 14px;
        color: rgb(153, 153, 153);

        .text {
            display: inline-block;
        }

        .devider {
            display: inline-block;
            margin: 0 12px;
        }
    }

    .horizontal-line {
        height: 1px;
        margin: 18px 0;
        background-color: rgb(238, 238, 238);
        width: 65%;
    }

    p {
        font-size: 14px;
        color: rgb(153, 153, 153);
        margin-bottom: 0;
    }

    .facilities {
        margin: 16px 0;
        display: flex;
    }
}

.card-md {
    width: 100%;
    background-color: white;
    margin-bottom: 12px;
    border: 1px solid rgb(201, 225, 233);

    .image-container {
        height: 224px;

        img {
            width: 100%;
            height: 224px;
            object-fit: cover;
        }
    }
}