.search {

    background-image: url(../../assets/background.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .content {

        padding: 19px 16px 32px;
        max-width: 1600px;
        margin: 0 auto;
    
        .title {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 16px;
            letter-spacing: -0.02em;
        }

        .search-content {
            margin-top: 50px;
            display: flex;
            height: 600;

            .result {
                flex-grow: 1;
            }
        }
    }
}